* {
	padding: 0;
	margin: 0;
}

html {
	scroll-behavior: smooth;
	scroll-padding-top: 5vh;
}

body {
	font-family: 'Arial', sans-serif;
	background-color: rgb(255, 255, 255);
}

nav {
	padding: 5vh 4vh;
	display: flex;
	background-color: rgb(22, 25, 29);
	justify-content: space-between;
	align-items: center;
	position: sticky;
	top: 0;
	z-index: 1000;
	/* box-shadow: 0 0 10px 0 #00ffee; */
}

section#hero {
	background-color: rgb(22, 25, 29);
	display: grid;
	height: 90vh;
	padding: 0rem 3rem;
}

section#about {
	padding: 100px;
	display: grid;
}

section#company {
	padding: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

section#project {
	display: grid;
    padding-top: 100px;
}

footer {
	display: flex;
	justify-content: space-around;
	padding: 2vh;
	background-color: rgb(22, 25, 29);
	align-items: center;
}