nav h1 {
	display: inline;
	font-size: 150%;
}

nav ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: flex;
}

nav a {
	position: relative;
	font-size: 150%;
	color: white;
	text-decoration: none;
	margin: 20px;
}

nav ul li a::after {
	content: '';
	position: absolute;
	left: 50%;
	bottom: -5px;
	width: 0;
	height: 2px;
	background-color: white;
	transition: width 0.3s ease, left 0.3s ease;
}

nav ul li a:hover::after {
	width: 100%;
	left: 0;
}

.title {
	font-size: 5em;
	color: white;
}

.title-section {
	text-align: center;
	font-size: 5vh;
	font-weight: 700;
	margin-bottom: 30px;
}

.txt-wht {
	color: white;
}

.txt-secondary {
	color: #979da1;
}

.glowsy-text {
	color: #00ffee;
	text-shadow: 0 0 25px #00ffee;
}